{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}

{{#if page.title '==' 'Home'}}
    <div class="contact-us-home">
        <div class="item cont-home-text" style="margin:auto">
            <h2>contact us</h2>
        </div>
        <div class="item">
            {{#if forms.contact.success}}
                <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
            {{else}}
                <div id="custom-hsforms" class="home-family">
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "8504278",
                            formId: "90b534c4-eea3-428a-b006-d89e53f10df8"
                        });
                    </script>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}

{{#if page_type '==' 'product'}}
    <div class="contact-us-home">
        <div class="item cont-home-text" style="margin:auto">
            <h2>contact us</h2>
        </div>
        <div class="item">
            {{#if forms.contact.success}}
                <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
            {{else}}
                <div id="custom-hsforms" class="home-family">
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "8504278",
                            formId: "90b534c4-eea3-428a-b006-d89e53f10df8"
                        });
                    </script>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}


{{#if page_type '==' 'category'}}
    <div class="contact-us-home">
        <div class="item cont-home-text" style="margin:auto">
            <h2>contact us</h2>
        </div>
        <div class="item">
            {{#if forms.contact.success}}
                <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
            {{else}}
                <div id="custom-hsforms" class="home-family">
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                    hbspt.forms.create({
                        region: "na1",
                        portalId: "8504278",
                        formId: "90b534c4-eea3-428a-b006-d89e53f10df8"
                    });
                    </script>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}


{{#if page_type '==' 'page'}}
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            //do work
            // var myUrl = window.location.pathname;
            // var split_url = myUrl.split('/');
            // if (split_url.length > 2) {
            //   alert("more than 2");
            // } else {
            //   alert(split_url);
            // }

            var myUrl = window.location.pathname;
            var count1 = myUrl.match(/\//g);
            // alert(count1);

            if (count1.length > 2) {
                document.getElementById("page-form").style.display = "block";
            } else {
                // alert(count1);
            }
        });
    </script>
    <div class="contact-us-home" id="page-form" style="display:none">
        <div class="item cont-home-text" style="margin:auto">
            <h2>contact us</h2>
        </div>
        <div class="item">
            {{#if forms.contact.success}}
                <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
            {{else}}
                <div id="custom-hsforms" class="home-family">
                   <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "8504278",
                            formId: "90b534c4-eea3-428a-b006-d89e53f10df8"
                        });
                    </script>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}

<div id="modal-contact" class="modal" data-reveal="" data-prevent-quick-search-close="">
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button"><i class="fa fa-times"></i></a>
    <div class="modal-content">
        {{#if forms.contact.success}}
            <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
        {{else}}
            <div class="cont-home-text" style="margin:auto"><h2>contact us</h2></div>
            <div id="custom-hsforms" class="home-family">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    region: "na1",
                    portalId: "8504278",
                    formId: "90b534c4-eea3-428a-b006-d89e53f10df8"
                });
                </script>
            </div>
        {{/if}}
        <div class="loadingOverlay">&nbsp;</div>
    </div>
</div>

<footer class="footer" role="contentinfo">
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
            </article>
        {{/if}}

        <section class="footer-info">

            <article class="col-md-4">
                <div class="footer-logo"><img src="/content/logos/237x38_falltech_logo-02.svg" alt="{{settings.store_logo.image.alt}}" title="{{settings.store_logo.image.alt}}"></div>
                <h5 class="footer-info-heading">
                    {{theme_settings.footer-text-intro-title}}
                </h5>
                <p class="footer-info-text">
                    {{theme_settings.footer-text-intro-content}}
                </p>
            </article>

            <div class="col-md-8">
                <div class="footer-info-country">
                    <img src="/content/footer-icons/Flag_of_the_United_States.svg" alt="United States">
                    <p>{{{theme_settings.footer-text-country}}}</p>
                </div>

                <div class="flex-box">
                    <article class="footer-info-col footer-info-col--categories" data-section-type="footer-categories">
                        <h3 class="footer-info-heading">{{lang 'PRODUCT CATEGORIES'}}</h3>
                        <ul class="footer-info-list">
                            {{#each categories}}
                                {{#if name '===' 'Fall Protection Products'}}
                                    {{#each children}}
                                        <li>
                                            <a href="{{#any ../../../pages name='Fall Protection Products'}}{{#each ../../../../pages}}{{#and (if name '===' 'Fall Protection Products') children}}{{#any children name=../../../../name}}{{#each children}}{{#if name '===' ../../../../../../name}}{{url}}{{/if}}{{/each}}{{else}}{{../../../url}}{{/any}}{{/and}}{{/each}}{{else}}{{../url}}{{/any}}">{{name}}</a>
                                        </li>
                                    {{/each}}
                                {{/if}}
                            {{/each}}
                        </ul>
                    </article>

                    <article class="footer-info-col footer-info-col--pages" data-section-type="footer-webPages">
                        <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>
                        <ul class="footer-info-list">
                            {{#each pages}}
                                {{#if name '===' 'Footer Nav Links'}}
                                    {{#each children}}
                                        <li>
                                            <a href="{{url}}"{{#if name '===' 'Catalog'}} target="_blank"{{/if}}>
                                                {{#replace 'Footer ' name}}{{else}}{{name}}{{/replace}}
                                            </a>
                                        </li>
                                    {{/each}}
                                {{/if}}
                            {{/each}}

                            {{!--
                            <li>
                                <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                            </li>
                            --}}
                        </ul>
                    </article>

                    <article class="footer-info-col footer-info-col--info">
                        <h5 class="footer-info-heading">CONTACT US</h5>
                        <div class="footer-info-contact">
                            <div class="footer-info-contact-row">
                                <span class="icon">
                                    <svg><use xlink:href="#icon-map" /></svg>
                                </span>
                                <address class="footer-info-text">{{nl2br settings.address}}</address>
                            </div>
                            <div class="footer-info-contact-row">
                                <span class="icon">
                                    <svg><use xlink:href="#icon-phone" /></svg>
                                </span>
                                <a class="footer-info-text" href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a>
                            </div>
                            <div class="footer-info-contact-row">
                                <span class="icon">
                                    <svg><use xlink:href="#icon-envelope" /></svg>
                                </span>
                                <a class="footer-info-text footer-email-link" href="mailto:{{theme_settings.site_email}}">{{theme_settings.site_email}}</a>
                            </div>
                        </div>
                        {{> components/common/social-links}}

                        {{#if settings.show_newsletter_box}}
                            {{> components/custom/Mailchimp-Signup-Form}}
                        {{/if}}
                    </article>
                </div>
            </div>
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">Powered by <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}

        <div class="footer-split-line"></div>

        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">
                    Copyright {{moment format="YYYY"}} {{settings.store_name}}<sup>®</sup>. All Rights Reserved
                    {{#each pages}}
                        {{#if name '===' 'Footer Copyright Links'}}
                            {{#each children}}
                                <span>|</span>
                                {{#if name '===' 'Opt-Out of Cookies (Do Not Sell My Info)'}}
                                    <a onclick="sp.showPrivacyBanner();sp.toggleTabs('data-req-form');">{{name}}</a>
                                {{else if name '===' 'Manage Cookie Preferences'}}
                                    <a onclick="sp.showPrivacyBanner();sp.toggleTabs('settings');">{{name}}</a>
                                {{else}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </p>
            </div>
        {{/if}}
    </div>
</footer>
