{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">

    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}

    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>

    <div class="header-right">
        <a class="dropdown-quick-search" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
            Search
            <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
            <svg class="icon-close"><use xlink:href="#icon-close"></use></svg>
        </a>
        <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
            {{> components/common/quick-search}}
        </div>
        <span class="help-link has-dropdown"
            data-dropdown="help"
            data-options="is_hover:true;"
            aria-controls="help"
            aria-expanded="false"
        >{{lang 'Help'}}</span>
        <ul class="dropdown-menu dropdown-menu--help" id="help" data-dropdown-content aria-hidden="true" tabindex="-1">
            <li class="dropdown-menu-item">
                <a class="dropdown-menu--action" href="/contact-us/">Contact</a>
            </li>
            <li class="dropdown-menu-item">
                <a class="dropdown-menu--action" href="{{cdn 'webdav:catalogs/falltech_catalog_web_2019.pdf'}}" target="_blank">Catalog</a>
            </li>
            <li class="dropdown-menu-item">
                <a class="dropdown-menu--action" href="{{cdn 'webdav:catalogs/falltech_canada_catalogue_supplement_web_2020.pdf'}}" target="_blank">Canada Catalogue</a>
            </li>
            <li class="dropdown-menu-item">
                <a class="dropdown-menu--action" href="/locate/#RSM">Local Rep</a>
            </li>
            <li class="dropdown-menu-item">
                <a class="dropdown-menu--action" href="/locate/#RepairCenter">Repair Center</a>
            </li>
            {{#if theme_settings.site_email}}
            <li class="dropdown-menu-item">
                <a class="dropdown-menu--action header-email-link" href="mailto:{{theme_settings.site_email}}">{{theme_settings.site_email}}</a>
            </li>
            {{/if}}
            {{#if settings.phone_number}}
            <li class="dropdown-menu-item">
                <a class="dropdown-menu--action" href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a>
            </li>
            {{/if}}
        </ul>
    </div>
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    <div class="contact-top">
        <a class="" href="/contact-us/">Contact Us</a>
    </div>
</header>
<a href="#" class="float" id="menu-share">
    <i class="fa fa-plus my-float"></i>
</a>
<ul class="fl">
    <li>
        <a class="fl-text" href="#" data-reveal-id="modal-contact"><span>Contact Us<span></a>
        <a class="fl-icon" href="#" data-reveal-id="modal-contact"><i class="fa fa-envelope my-float"></i></a>
    </li>
    <li><a class="fl-text for-desktop" href="tel:800719-4619"><span>(800) 719-4619<span></a>
        <a class="fl-text for-mobile" href="tel:800719-4619"><span>Call Now<span></a>
        <a class="fl-icon" href="tel:800719-4619"><i class="fa fa-phone my-float"></i></a>
    </li>
</ul>
{{{region name="header_bottom"}}}
