{{#partial "hero"}}
<div id="home-banner-video">
   <div class="home-banner-video-content-temp">
      <div class="shg-box shg-c home-banner-video-content no-bg container" id="s-0946f227-1b13-4f54-a789-a22632553a5a">
         <div class="shg-box-overlay"></div>
         <div class="shg-box-content">
            <div id="s-e1e1c35f-b14b-4a59-9deb-5511face0aac" class="shg-c home-title-1 shg-align-center">
               <div class="shogun-heading-component">
                  <h2>
                     WHERE TO FIND US
                  </h2>
               </div>
            </div>
            <div id="s-5200a4ca-8ca8-4140-8d54-6e6ab7dba95e" class="shg-c  ">
               <div class="shg-rich-text shg-default-text-content">
                  <p style="line-height: 24px; text-align: left;"><span style="color: #ffffff; font-size: 18px; font-family: 'Open Sans'; font-weight: normal;">Here’s where to connect with the people who sell, service, and repair FallTech products. These pros have been keenly selected and expertly trained to make your life a whole lot easier and productive.</span></p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <nav id="fixedbar" class="menu-bg">
      <ul id="fixednav" class="container">
         <li><a href="#where-to-buy">WHERE TO BUY</a></li>
         <li><a href="#repair-centers">REPAIR CENTERS</a></li>
         <li><a href="#sales-support">SALES & SUPPORT</a></li>
      </ul>
   </nav>
   <nav id="navigation" class="menu-bg">
      <ul class="container">
         <li><a href="#where-to-buy">WHERE TO BUY</a></li>
         <li><a href="#repair-centers">REPAIR CENTERS</a></li>
         <li><a href="#sales-support">SALES & SUPPORT</a></li>
      </ul>
   </nav>
</div>

<style>

   #home-banner-video {
   padding-bottom: 0;
   background: url(https://falltech3.mybigcommerce.com/product_images/uploaded_images/hero.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   /*height: 25.25vw;*/
   height: 24.55vw;
   /* margin-top: 171px; */
   }
   #s-0946f227-1b13-4f54-a789-a22632553a5a.shg-box.shg-c {
   justify-content: center;
   }
   #s-0946f227-1b13-4f54-a789-a22632553a5a {
   background-size: cover;
   padding-top: 15px;
   /* padding-left: 15px; */
   padding-bottom: 15px;
   /* padding-right: 15px; */
   padding: 0 1.5rem;
   min-height: 50px;
   background-position: center center;
   }
   #s-e1e1c35f-b14b-4a59-9deb-5511face0aac {
   margin-bottom: 0px;
   text-align: left;
   }
   #s-e1e1c35f-b14b-4a59-9deb-5511face0aac .shogun-heading-component h2 {
   color: rgba(255, 255, 255, 1);
   font-weight: 700;
   font-family: Red Hat Display;
   font-style: ;
   font-size: 36px;
   line-height: ;
   letter-spacing: 2px;
   text-align: left;
   }
   #s-5200a4ca-8ca8-4140-8d54-6e6ab7dba95e {
   margin-bottom: 35px;
   }
   #home-banner-video>.home-banner-video-content-temp, #home-banner-video>.home-bottom-video-content-temp, #home-bottom-video>.home-banner-video-content-temp, #home-bottom-video>.home-bottom-video-content-temp {
   width: 100%;
   height: 100%;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: center;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   }
   #s-0946f227-1b13-4f54-a789-a22632553a5a > .shg-box-overlay {
   background-color: #fff;
   opacity: 0;
   }
   #home-banner-video>#banner-video {
   width: 100vw;
   height: 56.25vw;
   }

@media (max-width:1024px){
    #home-banner-video {

        height: 44.55vw;
        margin-top: 0; 
        background-size: cover;
    }
}

@media (max-width:640px){
    #home-banner-video {

        height: 98.55vw;
        margin-top: 0; 
        background-size: cover;
    }

    #s-e1e1c35f-b14b-4a59-9deb-5511face0aac .shogun-heading-component h2 {
    font-size: 31px;
    }
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   jQuery(document).ready(function(){
     jQuery('#navigation a, #fixedbar a').on('click', function(e) {
       e.preventDefault();
     });
     
     jQuery(window).on('scroll',function() {
       var scrolltop = jQuery(this).scrollTop();
   
       var jQuerynav = jQuery("#navigation");
       if(scrolltop >= jQuerynav.offset().top + jQuerynav.height()- 128) {
         jQuery('#fixedbar').fadeIn(250);
       }
       else {
         jQuery('#fixedbar').fadeOut(250);
       }
     });
   });
</script>

<style>
   /* sub menu  */
   .menu-bg {
   background-color: #5D87A1;
   height: 50px;
   }
   #navigation {
   width:100%;
   display: block;
   /*height: 50px;*/
   background: #5D87A1;
   /*margin-top: -60px;*/
   position: absolute;
   bottom: -25px;
   height: 70px;
   }
   #navigation ul { list-style: none;
   /* padding: 0px;*/ 
} 
   #navigation ul li { 
       display: inline; float: left; 
    }
   #navigation ul li a { 
   display: block;
   float: left;
   font-weight: bold;
   line-height: 80px;
   text-decoration: none;
   padding: 0px 0px;
   margin-right: 22px;
   -webkit-transition: all 0.2s linear; 
   -moz-transition: all 0.2s linear;
   transition: all 0.2s linear;
   font-family: Red Hat Display;
   font-style: ;
   font-size: 18px;
   color: white;
   line-height: 44px;
   }
   #navigation ul li a:hover {
   color: #fff;
   text-decoration: underline;
   }
   /* hidden fixed navigation */
   #fixedbar { 
   display: none;
   position: fixed;
   top: 79px;
   width: 100%;
   height: 50px;
   z-index: 999;
   padding: 0;
   }

   @media (max-width:1024px){
            #fixedbar { 
                top: 0;
        }
    }
   #fixednav { 
   display: block;
   width: 100%;
   margin: 0 auto;
 
   }
   #fixednav li {
   float: left;
   list-style: none;
   }
   #fixednav li a {
   display: block;
   float: left;
   font-weight: bold;
   line-height: 80px;
   text-decoration: none;
   padding: 0px 0px;
   margin-right: 22px;
   -webkit-transition: all 0.2s linear; 
   -moz-transition: all 0.2s linear;
   transition: all 0.2s linear;
   font-family: Red Hat Display;
   font-style: ;
   font-size: 18px;
   color: white;
   line-height: 44px;
   }
   #fixednav li a:hover {
   color: #fff;
   text-decoration: underline;
   }

   @media (max-width:640px){
    #navigation ul li a {
        
        margin-right: 15px;
         
        font-size: 11px;
 
        line-height: 44px;
    }
    #fixednav li a {
       
        margin-right: 15px;
     
        font-size: 11px;
     
    }


    .cont-home-text h2 {
        font-size: 30px;
   
    }
    .cont-home-text {

        padding: 2%;
    }
    #custom-hsforms.home-family form.hs-form fieldset input, #custom-hsforms.home-family form.hs-form fieldset select, #custom-hsforms.home-family form.hs-form fieldset textarea {
         height: 41px;
      
        margin-top: 3px;
        margin-bottom: 3px;
    }
    div#modal-support {
        overflow: scroll;
    }
}
.hs_recaptcha.hs-recaptcha.field.hs-form-field {
    margin-bottom: 15px;
}
.hs_contact_person.hs-contact_person.hs-fieldtype-select.field.hs-form-field {
    display: none;
}

</style>
<div class="container" id="where-to-buy">
   <section class="footer-info where-to-buy">
      <article class="col-md-8">
         <h2>WHERE TO BUY FALLTECH PRODUCTS</h2>
         <p>Think of our distributors as your resource for the very best fall protection products. They are your point of contact for pricing, local inventory, sales and customer service support and ordering FallTech products.</p>
      </article>
      <div class="col-md-4">
         <div class="footer-info-country buy-options">
            <svg xmlns="http://www.w3.org/2000/svg" width="35.567" height="40.686" viewBox="0 0 35.567 40.686">
               <g id="headphones" transform="translate(-26.48)">
                  <g id="11" data-name="11" transform="translate(26.48)">
                     <path id="18" data-name="18" d="M58.181,13.918a13.918,13.918,0,1,0-27.835,0,4.2,4.2,0,0,0-3.866,4.562v7.268a4.316,4.316,0,0,0,4.639,4.639h2.242a.773.773,0,0,0,.773-.773V14.644a.773.773,0,0,0-.773-.773H31.892a12.371,12.371,0,1,1,24.742,0H55.166a.773.773,0,0,0-.773.773V29.59a.773.773,0,0,0,.773.773h1.469c-.216,5.312-2.768,6.557-7.863,6.781v-.518a1.546,1.546,0,0,0-1.546-1.546H42.361a1.546,1.546,0,0,0-1.546,1.546v2.513a1.546,1.546,0,0,0,1.546,1.546H47.24a1.546,1.546,0,0,0,1.546-1.546v-.448c4.9-.224,9.139-1.237,9.394-8.374a4.2,4.2,0,0,0,3.866-4.562V18.487A4.191,4.191,0,0,0,58.181,13.918ZM32.588,15.363V28.817H31.081a2.807,2.807,0,0,1-3.093-3.093V18.456a2.811,2.811,0,0,1,3.093-3.093ZM47.24,37.972v1.175H42.361V36.634H47.24ZM60.5,25.747a2.811,2.811,0,0,1-3.093,3.093H55.939V15.418h1.508a2.807,2.807,0,0,1,3.093,3.093Z" transform="translate(-26.48)" fill="#5d87a1"/>
                  </g>
               </g>
            </svg>
            <p class="unparallel">UNPARALLELED CUSTOMER SERVICE</p>
         </div>
         <div class="footer-info-country buy-options">
            <svg xmlns="http://www.w3.org/2000/svg" width="35.567" height="41.343" viewBox="0 0 35.567 41.343">
               <g id="locations" transform="translate(-35.764)">
                  <path id="Контур_19" data-name="Контур 19" d="M61.434,12.412a.606.606,0,1,0-.68,1,14.609,14.609,0,1,1-21.972,7.207l1.933,2.816a.606.606,0,0,0,1,0L45.7,17.623a5.442,5.442,0,0,0,.5-5.272,14.657,14.657,0,0,1,6.351-1.45,14.809,14.809,0,0,1,2.077.147l2.269,3.3a.606.606,0,0,0,1,0l3.992-5.814a5.45,5.45,0,1,0-8.982,0l.821,1.2c-.391-.029-.783-.044-1.174-.044A15.871,15.871,0,0,0,45.6,11.3a5.449,5.449,0,0,0-8.874,6.322l1.229,1.79a15.828,15.828,0,1,0,23.482-7ZM57.4,1.211a4.239,4.239,0,0,1,3.493,6.641L57.4,12.94l-1.917-2.792-.013-.019L53.909,7.852A4.239,4.239,0,0,1,57.4,1.211ZM36.975,14.535a4.239,4.239,0,1,1,7.732,2.4l-3.493,5.087-3.493-5.088A4.214,4.214,0,0,1,36.975,14.535Z" transform="translate(0)" fill="#5d87a1"/>
                  <path id="Контур_20" data-name="Контур 20" d="M71.818,145.528a3.028,3.028,0,1,0-3.028,3.028A3.031,3.031,0,0,0,71.818,145.528Zm-4.845,0a1.817,1.817,0,1,1,1.817,1.817A1.819,1.819,0,0,1,66.973,145.528Z" transform="translate(-27.576 -130.994)" fill="#5d87a1"/>
                  <path id="Контур_21" data-name="Контур 21" d="M149.266,302.7a3.028,3.028,0,1,0,3.028,3.028A3.031,3.031,0,0,0,149.266,302.7Zm0,4.845a1.817,1.817,0,1,1,1.817-1.817A1.819,1.819,0,0,1,149.266,307.543Z" transform="translate(-101.554 -278.256)" fill="#5d87a1"/>
                  <path id="Контур_22" data-name="Контур 22" d="M121.688,272.7a5.45,5.45,0,0,0-4.491,8.538l3.992,5.815a.606.606,0,0,0,1,0l3.991-5.814a5.45,5.45,0,0,0-4.491-8.539Zm3.493,7.852-3.493,5.087L118.2,280.55a4.239,4.239,0,1,1,6.986,0Z" transform="translate(-73.976 -250.678)" fill="#5d87a1"/>
                  <path id="Контур_23" data-name="Контур 23" d="M269.266,36.056a3.028,3.028,0,1,0-3.028-3.028A3.031,3.031,0,0,0,269.266,36.056Zm0-4.845a1.817,1.817,0,1,1-1.817,1.817A1.819,1.819,0,0,1,269.266,31.211Z" transform="translate(-211.864 -27.578)" fill="#5d87a1"/>
                  <path id="Контур_24" data-name="Контур 24" d="M392.9,45h-6.056a.606.606,0,0,0,0,1.211H392.9a.606.606,0,1,0,0-1.211Z" transform="translate(-322.174 -41.366)" fill="#5d87a1"/>
                  <path id="Контур_25" data-name="Контур 25" d="M388.018,76.211a.606.606,0,0,0,0-1.211H385.6a.606.606,0,0,0,0,1.211Z" transform="translate(-321.027 -68.944)" fill="#5d87a1"/>
                  <path id="Контур_26" data-name="Контур 26" d="M273.505,318.3a.606.606,0,0,0-.606-.606h-6.056a.606.606,0,1,0,0,1.211H272.9A.606.606,0,0,0,273.505,318.3Z" transform="translate(-211.864 -292.045)" fill="#5d87a1"/>
                  <path id="Контур_27" data-name="Контур 27" d="M265.6,347.7a.606.606,0,0,0,0,1.211h2.422a.606.606,0,1,0,0-1.211Z" transform="translate(-210.717 -319.622)" fill="#5d87a1"/>
               </g>
            </svg>
            <p class="coast">COAST-TO-COAST COVERAGE</p>
         </div>
         <div class="footer-info-country buy-options">
            <svg xmlns="http://www.w3.org/2000/svg" width="55.776" height="30.285" viewBox="0 0 55.776 30.285">
               <g id="delivery-truck" transform="translate(0.191 -11.205)">
                  <path id="Контур_8" data-name="Контур 8" d="M41.861,38.586a4.761,4.761,0,1,1,4.758-4.76,4.761,4.761,0,0,1-4.758,4.76Zm0-7.785a3.024,3.024,0,1,0,3.021,3.024A3.024,3.024,0,0,0,41.861,30.8Z" transform="translate(5.87 2.803)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_9" data-name="Контур 9" d="M20.192,38.586a4.761,4.761,0,1,1,4.756-4.761,4.761,4.761,0,0,1-4.756,4.761Zm0-7.785a3.024,3.024,0,1,0,3.02,3.024,3.024,3.024,0,0,0-3.02-3.024Z" transform="translate(2.449 2.803)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_10" data-name="Контур 10" d="M48.524,36.451H46.149a.868.868,0,0,1,0-1.737h2.129v-4.6a3.659,3.659,0,0,0-.463-1.778l-4.7-8.428a.463.463,0,0,0-.4-.237H36.3V34.718h2.068a.868.868,0,1,1,0,1.737H35.435a.868.868,0,0,1-.868-.868V18.8a.868.868,0,0,1,.868-.868H42.71a2.2,2.2,0,0,1,1.922,1.128l4.7,8.429a5.4,5.4,0,0,1,.682,2.624v4.851A1.492,1.492,0,0,1,48.524,36.451Z" transform="translate(5.471 1.046)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_11" data-name="Контур 11" d="M17.437,35.073H9.11a.868.868,0,0,1-.868-.868V27.526a.868.868,0,0,1,1.737,0v5.81h7.458a.868.868,0,1,1,0,1.737Z" transform="translate(1.315 2.424)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_12" data-name="Контур 12" d="M9.11,25.779a.868.868,0,0,1-.868-.868V19.079a.868.868,0,1,1,1.737,0v5.834a.868.868,0,0,1-.868.865Z" transform="translate(1.315 1.09)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_13" data-name="Контур 13" d="M39.591,37.5H25.214a.868.868,0,0,1,0-1.737H38.723V13.042H9.979v3.577a.868.868,0,0,1-1.737,0V12.882A1.579,1.579,0,0,1,9.82,11.305H38.882a1.579,1.579,0,0,1,1.577,1.577V36.628A.868.868,0,0,1,39.591,37.5Z" transform="translate(1.315 0)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_14" data-name="Контур 14" d="M13.578,28.395H2.556a.868.868,0,0,1,0-1.737H13.578a.868.868,0,0,1,0,1.737Z" transform="translate(0.281 2.424)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_15" data-name="Контур 15" d="M21.757,24.984H6.377a.868.868,0,1,1,0-1.737h15.38a.868.868,0,0,1,0,1.737Z" transform="translate(0.884 1.885)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_16" data-name="Контур 16" d="M6.783,21.024H.777a.868.868,0,0,1,0-1.737H6.783a.868.868,0,1,1,0,1.737Z" transform="translate(0 1.26)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
                  <path id="Контур_17" data-name="Контур 17" d="M15.727,16.881H5.125a.868.868,0,1,1,0-1.737h10.6a.868.868,0,1,1,0,1.737Z" transform="translate(0.686 0.606)" fill="#5d87a1" stroke="#fff" stroke-width="0.2"/>
               </g>
            </svg>
            <p>LOCAL IN-STOCK INVENTORY</p>
         </div>
         <p class="cont-us">Contact us today to locate a distributor near you!</p>
         <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
            <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse req-info" href="#" data-reveal-id="modal-support">
            REQUEST INFO
            </a>
         </div>
         <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
            <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse req-info" href="#" data-reveal-id="modal-support">
            CALL NOW
            </a>
         </div>
      </div>
</div>
</section>
</div>
<style>
   .where-to-buy {
    padding: 65px 1.5rem 25px;
    }
   .footer-info.where-to-buy .col-md-8 {
   padding: 0;
   }
   .where-to-buy h2 {
   margin-top: 0;
   font-size: 36px;
   color:#2F3336;
   }
   .where-to-buy p {
   font-size: 18px;
   color:#2F3336;
   max-width: 700px;
   }
   .footer-info.where-to-buy .col-md-4 {
   padding: 0;
   margin-bottom: 0;
   }
   .footer-info-country.buy-options p {
   margin: 0 0 0 1rem;
   font-size: 18px!important;
   font-family: Red Hat Display;
   font-weight: bold;
   margin-top: 4px;
   }
   @media (min-width: 1024px){
   .footer-info.where-to-buy .col-md-8 {
   width: 66%;
   }
   .footer-info.where-to-buy .col-md-4 {
   width: 34%;
   }
   .unparallel{ margin-left: 35px!important;}
   .coast{margin-left: 33px!important;}
   }
   #cms-page .btn>.shg-btn, #home-banner-video .btn>.shg-btn {
   width: 195px;
   height: 56px;
   border: none!important;
   background-color: transparent!important;
   display: -ms-flexbox!important;
   display: flex!important;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: center;
   justify-content: center;
   outline: 0;
   }
   .support-person .shg-btn.shg-cse {
   color: rgba(93, 135, 161, 1);
   font-size: 15px;
   font-weight: 700;
   font-family: Red Hat Display;
   display: inline-block;
   }
   .shg-btn.shg-cse {
   background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 195 56'%3E%3Cpath fill='none' stroke='%235d87a1' stroke-width='2' d='M1 1h193v35l-19 19H1V1z'/%3E%3C/svg%3E")!important;
   border-style: solid;
   margin-top: 35px;
   padding-top: 10px;
   padding-left: 20px;
   padding-bottom: 10px;
   padding-right: 20px;
   background-color: rgba(255, 255, 255, 0);
   text-align: left;
   text-decoration: none;
   background-image: none;
   hover-type: color;
   color: rgba(93, 135, 161, 1);
   letter-spacing: 1px;
   line-height: 2em;
   border: 0;
   background-repeat: no-repeat;
   width: 186px;
   text-align: center;
   float: left;
   margin-right: 19px;
   font-size: 18px!important;
   }

   .req-info {
    max-width: 181px;
    font-weight: 600;
}


   .shg-btn.shg-cse:hover {
   color: white;
   background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 195 56'%3E%3Cpath fill='%23042b48' stroke='%23042b48' stroke-width='2' d='M1 1h193v35l-19 19H1V1z'/%3E%3C/svg%3E")!important;
   }
</style>
<section class="pinpoint" id="repair-centers" name="repair-centers">
   <div class="container">
      <h2>PINPOINT A REPAIR CENTER</h2>
      <p>Don’t assume you can trust your FallTech equipment repairs to just anyone. Our Authorized Repair Centers are staffed with highly skilled technicians who live to fix or refurbish such products as our SRLs, SRL-Rs, Winches, and Davits.</p>
      
      <div id='storemapper' style='width:100%;'>

        <div id='storemapper' style='width:100%;'>

            <p>Store Locator is loading from <a href='https://www.storemapper.co'>Storemapper store locator</a>...</p>
          
          </div>
          
          <script data-storemapper-start='2021,08,26'
                  data-storemapper-id='12065'>
                  (function() {var script = document.createElement('script');
                    script.type  = 'text/javascript';script.async = true;
                    script.src = 'https://www.storemapper.co/js/widget.js';
                    var entry = document.getElementsByTagName('script')[0];
                    entry.parentNode.insertBefore(script, entry);}
                  ());
          </script>

</div>



   </div>
</section>
<style>
   section.pinpoint {
   background: #F5F8FA;
   padding: 60px 0px;
   }
   section.pinpoint h2 {
   font-size: 36px;
   }
   section.pinpoint p {
   font-size: 18px;
   }
   section.pinpoint .container {

   }
   #storemapper, #storemapper[style] {
    max-width: 100% !important;
    font-family: 'Open Sans'!important;
}
h4.storemapper-title {
    font-family: 'Open Sans';
}
</style>
<section class="map-us-ca" id="map">
   <div class="container" id="sales-support">
      <div class="shg-box-content">
         <div id="s-06ca124c-fffa-4017-acee-f91d20255ad2" class="shg-c head_font_bold ">
            <div class="shogun-heading-component">
               <h2>
                  FIND YOUR  FALLTECH REGIONAL SALES MANAGER
               </h2>
            </div>
         </div>
         <div id="s-9dc49ce4-14b1-442e-8107-f5427650b8c7" class="shg-c  ">
            <div class="shg-rich-text shg-theme-text-content">
               <p style="line-height: 28px;"><span style="font-size: 16px; letter-spacing: normal;">Whether you're looking for product information, help with inventory, or any other sales support, FallTech's Regional Sales Managers are poised and ready to help.</span></p>
            </div>
         </div>
      </div>
      <!--tabs-->
      <div class="l-tabs">
         <div class="l-tab">
            <input class="tab-radio" type="radio" id="tab-1" name="tab-group-1" checked>
            <label class="tab-label" for="tab-1">USA SALES SUPPORT</label>
            <div class="tab-panel">
               <div class="tab-content">

<div class="usmap">
<img src="https://cdn11.bigcommerce.com/s-rpemvezbml/product_images/uploaded_images/usa-map-1000.jpg" usemap="#image-map">


<map name="image-map">
    <area target="" alt="NORCAL - PACIFIC NW" title="NORCAL - PACIFIC NW" href="#NORCAL-PACIFIC-NW" coords="88,-1,230,36" shape="rect">
    <area target="" alt="NORCAL - PACIFIC NW" title="NORCAL - PACIFIC NW" href="#NORCAL-PACIFIC-NW" coords="228,320,192,207,199,175,220,116,219,73,244,66,326,82,327,106,312,111,309,132,315,139,302,153,304,164,297,201,337,208,330,263,266,264,256,280,257,299,257,315,243,319" shape="poly">
    <area target="" alt="NORCAL - PACIFIC NW" title="NORCAL - PACIFIC NW" href="#NORCAL-PACIFIC-NW" coords="24,326,51,304,38,288,25,268,43,254,34,243,26,233,41,231,50,230,32,210,49,197,71,197,106,200,129,277,165,288,186,309,177,314,136,286,117,278,89,274,67,304,45,321" shape="poly">
    <area target="" alt="SOUTHWEST - HI" title="SOUTHWEST - HI" href="#SOUTHWEST-HI" coords="82,575,202,612" shape="rect">
    <area target="" alt="SOUTHWEST - HI" title="SOUTHWEST - HI" href="#SOUTHWEST-HI" coords="120,340,159,351,192,370,216,391,199,404" shape="poly">
    <area target="" alt="SOUTHWEST - HI" title="SOUTHWEST - HI" href="#SOUTHWEST-HI" coords="227,325,255,317,259,305,258,289,264,273,288,299,283,317,274,331,258,342" shape="poly">
    <area target="" alt="SOUTHWEST - HI" title="SOUTHWEST - HI" href="#SOUTHWEST-HI" coords="259,341,311,348,308,370,269,364" shape="poly">
    <area target="" alt="MOUNTAIN STATES" title="MOUNTAIN STATES" href="#MOUNTAIN-STATES" coords="267,0,389,35" shape="rect">
    <area target="" alt="MOUNTAIN STATES" title="MOUNTAIN STATES" href="#MOUNTAIN-STATES" coords="391,402,397,301,327,294,338,207,300,197,306,164,304,154,313,142,312,131,313,117,328,106,328,84,478,98,472,234,500,237,500,304,484,304,480,396,440,407,430,395,404,393,401,402" shape="poly">
    <area target="" alt="HEARTLAND" title="HEARTLAND" href="#HEARTLAND" coords="415,0,519,32" shape="rect">
    <area target="" alt="HEARTLAND" title="HEARTLAND" href="#HEARTLAND" coords="481,97,475,230,502,236,501,254,594,252,589,243,648,239,655,230,652,223,659,218,664,213,655,206,694,199,695,160,694,149,702,139,722,130,738,130,721,120,687,123,675,118,656,129,637,124,659,106,644,104,627,103,601,98,594,88,585,96" shape="poly">
    <area target="" alt="IL-IN-KY" title="IL-IN-KY" href="#IL-IN-KY" coords="654,3,561,32" shape="rect">
    <area target="" alt="IL-IN-KY" title="IL-IN-KY" href="#IL-IN-KY" coords="692,200,661,204,663,212,661,219,654,225,648,239,651,252,660,260,668,268,668,279,683,296,686,305,701,305,768,296,786,278,775,260,759,259,746,254,737,209,702,210" shape="poly">
    <area target="" alt="OH-MICHIGAN" title="OH-MICHIGAN" href="#OH-MICHIGAN" coords="706,0,822,32" shape="rect">
    <area target="" alt="OH-MICHIGAN" title="OH-MICHIGAN" href="#OH-MICHIGAN" coords="712,208,715,193,712,181,710,166,717,150,726,139,747,146,750,160,757,163,765,181,757,205,770,206,795,197,799,225,797,236,785,248,778,259,769,258,748,255,738,209" shape="poly">
    <area target="" alt="NORTHEAST" title="NORTHEAST" href="#NORTHEAST" coords="863,1,963,32" shape="rect">
    <area target="" alt="NORTHEAST" title="NORTHEAST" href="#NORTHEAST" coords="791,279,778,264,799,235,795,195,812,176,811,168,838,163,845,149,852,132,901,117,909,103,919,67,934,67,943,84,957,101,940,114,929,126,920,143,930,166,904,190,889,207,883,227,880,239,877,260,873,270,850,265,838,261,834,242,824,249,815,256,811,270" shape="poly">
    <area target="" alt="CA-AZ-LAS VEGAS" title="CA-AZ-LAS VEGAS" href="#CA-AZ-LAS-VEGAS" coords="364,612,229,575" shape="rect">
    <area target="" alt="CA-AZ-LAS VEGAS" title="CA-AZ-LAS VEGAS" href="#CA-AZ-LAS-VEGAS" coords="263,341,276,331,283,320,289,301,266,267,328,265,327,294,396,302,389,399,360,402,307,374,313,347" shape="poly">
    <area target="" alt="DEEP SOUTH" title="DEEP SOUTH" href="#DEEP-SOUTH" coords="380,572,475,612" shape="rect">
    <area target="" alt="DEEP SOUTH" title="DEEP SOUTH" href="#DEEP-SOUTH" coords="441,407,481,394,486,306,498,306,501,256,595,256,592,245,646,239,654,255,663,267,670,283,682,297,680,313,673,331,668,347,662,362,662,374,620,374,620,395,584,406,532,410,500,419,491,435,479,449,460,436" shape="poly">
    <area target="" alt="GULF TEXAS" title="GULF TEXAS" href="#GULF-TEXAS" coords="493,572,586,612" shape="rect">
    <area target="" alt="GULF TEXAS" title="GULF TEXAS" href="#GULF-TEXAS" coords="493,433,507,413,539,410,578,407,621,398,628,411,624,433,604,448,582,459,571,478,572,502,557,503,546,497,538,478,522,453,507,437" shape="poly">
    <area target="" alt="GULF LA-MS" title="GULF LA-MS" href="#GULF-LA-MS" coords="617,570,725,612" shape="rect">
    <area target="" alt="GULF LA-MS" title="GULF LA-MS" href="#GULF-LA-MS" coords="628,433,629,412,623,395,622,376,662,373,673,337,704,336,705,388,718,391,722,402,759,400,761,418,718,408,710,415,688,421,699,438,672,440,659,430" shape="poly">
    <area target="" alt="FLORIDA" title="FLORIDA" href="#FLORIDA" coords="761,570,852,611" shape="rect">
    <area target="" alt="FLORIDA" title="FLORIDA" href="#FLORIDA" coords="761,421,762,405,806,402,809,396,816,396,836,438,851,465,850,487,842,491,826,480,808,457,800,431,783,417,776,413" shape="poly">
    <area target="" alt="SOUTHWEST - HI" title="SOUTHWEST - HI" href="#SOUTHWEST-HI" coords="887,572,999,612" shape="rect">
    <area target="" alt="SOUTHWEST - HI" title="SOUTHWEST - HI" href="#SOUTHWEST-HI" coords="676,333,684,306,768,297,787,278,810,271,819,254,834,245,841,266,871,270,870,311,850,329,836,349,822,364,814,390,764,403,723,401,719,390,709,388,706,334" shape="poly">
</map>
</div>
                  <!-- support person -->
                  <div class="support-person" id="OH-MICHIGAN">
                     <h2>MI, OH</h2>
                     <img class="__mce_add_custom__" title="matt-hohman.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/matt-hohman.jpg" alt="matt-hohman.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Matt H.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:2344104564">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Matt" class="shg-btn shg-cse send-a-msg " href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="NORTHEAST">
                     <h2>NORTHEAST</h2>
                     <img class="__mce_add_custom__" title="rick-bewick.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/rick-bewick.jpg" alt="rick-bewick.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Rick B.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:4126600064">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Rick" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="HEARTLAND">
                     <h2>HEARTLAND</h2>
                     <img class="__mce_add_custom__" title="rob-luckey.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/rob-luckey.jpg" alt="rob-luckey.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Rob L.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:4023197199">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Rob" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="GULF-TEXAS">
                     <h2>GULF TEXAS</h2>
                     <img class="__mce_add_custom__" title="frank-carbajal.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/frank-carbajal.jpg" alt="frank-carbajal.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Frank C.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:2813897542">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Frank" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="SOUTHEAST">
                     <h2>Southern VA, NC, SC, GA, TN, AL</h2>
                     <img class="__mce_add_custom__" title="chris-smith.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/chris-smith.jpg" alt="chris-smith.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Chris S.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:7044779106">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Chris" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="MOUNTAIN-STATES">
                     <h2>MOUNTAIN STATES</h2>
                     <img class="__mce_add_custom__" title="mike-tavis.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/mike-tavis.jpg" alt="mike-tavis.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Mike T.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:4803054349">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Mike" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="SOUTHWEST-HI">
                     <h2>So. Cal & Hawaii</h2>
                     <img class="__mce_add_custom__" title="jim-ciandella.jpg" src="https://cdn11.bigcommerce.com/s-rpemvezbml/product_images/uploaded_images/jim-ciandella-falltech-.png" alt="jim-ciandella" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Jim C.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:3105029159">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Jim" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="NORCAL-PACIFIC-NW">
                     <h2>No. CA, No. NV, OR, WA, AK</h2>
                     <img class="__mce_add_custom__" title="tim-chmielewski.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/tim-chmielewski.jpg" alt="tim-chmielewski.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Tim C.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:9165089158">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Tim" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="DEEP-SOUTH">
                     <h2>MO, KS, OK, AR, North TX</h2>
                     <img class="__mce_add_custom__" title="kellen-mills.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/kellen-mills.jpg" alt="kellen-mills.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Kellen M.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:9184047043">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Kellen" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="FLORIDA">
                     <h2>FL</h2>
                     <img class="__mce_add_custom__" title="rodney-mckee.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/rodney-mckee.jpg" alt="rodney-mckee.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Rodney M.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:2147380272">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Rodney" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="GULF-LA-MS">
                     <h2>LA, MS, Southern AL, FL Panhandle</h2>
                     <img class="__mce_add_custom__" title="guy-rogers.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/guy-rogers.jpg" alt="guy-rogers.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Guy R.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:3106171392">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Guy" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="IL-IN-KY">
                     <h2>IL, IN, KY</h2>
                     <img class="__mce_add_custom__" title="adam-neyhart.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/adam-neyhart.jpg" alt="adam-neyhart.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Adam N.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:7656528011">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Adam" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
                  <!-- support person -->
                  <div class="support-person" id="CA-AZ-LAS-VEGAS">
                     <h2>So. Cal, AZ, Vegas</h2>
                     <img class="__mce_add_custom__" title="justin-fox.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/justin-fox.jpg" alt="justin-fox.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>Justin F.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:5624003754">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="Justin" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->


                    <!-- support person -->
                    <div class="support-person" id="Utilities">
                        <h2>Utilities</h2>
                        <img class="__mce_add_custom__" title="justin-tate" src="https://cdn11.bigcommerce.com/s-rpemvezbml/product_images/uploaded_images/justin-tate.png" alt="justin-fox.jpg" width="123" height="123" />
                        <div class="btb-block">
                           <a class="back-to-map" href="#map">Back to Map ↑</a>
                           <h3>Justin T.</h3>
                           <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                              <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:3178643051">
                              CALL NOW
                              </a>
                           </div>
                           <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                              <a id="JustinT" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                              SEND  A MESSAGE
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- support person -->


               </div>
            </div>
         </div>
         <div class="l-tab">
            <input class="tab-radio" type="radio" id="tab-2" name="tab-group-1">
            <label class="tab-label" for="tab-2">CANADA SALES SUPPORT</label>
            <div class="tab-panel">
               <div class="tab-content">
                  <img class="__mce_add_custom__" title="canada-map.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/canada-map.jpg" alt="canada-map.jpg" width="1254" height="884" usemap="#image_map_ca" />
                  
 <map name="image_map_ca">
  <area alt="rere" title="Canada" href="#John" coords="825,811 833,778 786,734 699,715 396,715 313,634 301,604 261,558 243,569 205,544 204,382 382,290 401,244 863,85 1057,98 916,189 860,270 889,310 995,375 995,409 1063,439 1006,527 971,568 1011,564 1026,552 1056,602 1105,645 1147,743 1012,787 932,769 862,795 861,795 861,795 " shape="polygon">
</map>
                  <!-- support person -->
                  <div class="support-person">
                     <h2>CANADA</h2>
                     <img class="__mce_add_custom__" title="john-moore.jpg" src="https://falltech3.mybigcommerce.com/product_images/uploaded_images/john-moore.jpg" alt="john-moore.jpg" width="123" height="123" />
                     <div class="btb-block">
                        <a class="back-to-map" href="#map">Back to Map ↑</a>
                        <h3>John M.</h3>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="s-9553758c-39c4-4f2a-a417-f59ab21bae74" class="shg-btn shg-cse " href="tel:4034793242">
                           CALL NOW
                           </a>
                        </div>
                        <div id="s-9553758c-39c4-4f2a-a417-f59ab21bae74-btn-wrapper" class="shg-c shg-btn-wrapper btn btn-primary shg-align-left">
                           <a id="John" class="shg-btn shg-cse send-a-msg" href="#" data-reveal-id="modal-support">
                           SEND  A MESSAGE
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- support person -->
               </div>
            </div>
         </div>
      </div>
      <!--tabs-->
   </div>
</section>
<style>
.usmap {

    display: block;
    position: relative;
}
   .btb-block {
   width: 100%;
   position: relative;
   }
   .btb-block #s-9553758c-39c4-4f2a-a417-f59ab21bae74
   {margin-top:18px}
   a.back-to-map {
   position: absolute;
   right: 0;
   }
   .support-person h2 {
   width: 100%;
   border-bottom: 1px solid #F5F8FA;
   font-size: 20px;
   line-height: 35px;
   }
   .support-person {
   width: 100%;
   display: inline-block;
   clear: both;
   }
   .support-person img {
   width: 123px;
   height: 123px;
   float:left;
   margin-right: 25px;
   }
   .support-person h3 {
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 0;
   padding-bottom: 0;
   }
   .support-person .shg-btn.shg-cse  {
   margin-top: 17px;
   padding-top: 10px;
   padding-left: 4px;
   padding-bottom: 10px;
   padding-right: 7px;
   line-height: 23px;
   width: 138px;
   float: left;
   margin-right: 19px;
   font-size: 14px!important;
   }
   .support-person .shg-btn.shg-cse.send-a-msg {
        width: 148px;
        padding-left: 0!important;
        padding-right: 0!important;
        font-size: 12px!important;
    }
   .l-tabs {
   font-size: 0;
   margin: 25px 0;
   }
   .l-tabs:after {
   clear: both;
   content: '';
   display: table;
   }
   .l-tabs .l-tab {
   display: inline;
   }
   .l-tabs .tab-label {
   display: inline-block;
   font-size: 16px;
   font-size: 1rem;
   left: 1px;
   margin-left: -1px;
   padding: 10px 10px 10px 0px; 
   position: relative;
   vertical-align: bottom;
   font-size: 20px;
   font-family: 'Red Hat Display';
   font-weight: bold;
   cursor: pointer;
   margin-right: 10px;
   }
   .l-tabs .l-tab > [type="radio"] {
   clip: rect(0 0 0 0);
   height: 1px;
   opacity: 0;
   position: fixed;
   width: 1px;
   z-index: -1;
   }
   .l-tabs .tab-panel {
   display: inline;
   display: inline-block;
   overflow: hidden;
   position: relative;
   height: 0;
   width: 0;
   }
   .l-tabs .tab-content {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: block;
   background: white;
   border: 1px solid #ccc;
   float: left;
   font-size: 16px;
   font-size: 1rem;
   width: 100%;
   border-left: 0px;
   border-right: 0px;
   border-bottom: 0px;
   margin-top: -1px;
   }
   .l-tabs .l-tab [type="radio"]:checked + .tab-label {
   background: white;
   border-bottom-width: 0;
   padding-bottom: 9px;
   z-index: 1;
   border-bottom: 1px solid #F58D24;
   color:#F58D24;
   }
   .l-tabs .l-tab [type="radio"]:checked ~ .tab-panel {
   display: inline;
   }
   /*
   =======================================
   INTERNET EXPLORER 8 and below 
   =======================================
   */
   @media \0screen\,screen\9 {
   /* IE7 and IE6 */
   .l-tabs {
   zoom: 1;
   }
   /* IE8 and below */
   .l-tabs .l-tab .tab-radio {
   filter: Alpha(opacity=0);
   position: absolute;
   z-index: -1;
   }
   /* IE7 and IE6 */
   .l-tabs .l-tab .tab-panel, {
   display: none;
   height: auto;
   overflow: visible;
   position: static;
   width: auto;
   }
   /* IE7 and IE6 */
   .l-tabs .tab-content, {
   float: none;
   padding-bottom: 1px;
   padding-top: 1px;
   width: auto;
   }
   /* IE8 and below */
   .l-tabs .checked label {
   background: white;
   border-bottom-width: 0;
   padding-bottom: 11px;
   z-index: 1;
   }
   /* IE8 */
   .l-tabs .checked .tab-panel {
   display: inline;
   }
   /* IE7 and IE6 */
   .l-tabs .checked .tab-panel, {
   display: inline;
   float: left;
   width: 100%;
   }
   }
   .l-tabs {
   color: #222;
   }
   .l-tabs a:link,.l-tabs a:visited,.l-tabs a:hover,.l-tabs a:focus,.l-tabs a:active {
   color: #36A;
   }
   div#custom-hsforms {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    padding: 3%;
}
</style>




<div id="modal-support" class="modal" data-reveal="" data-prevent-quick-search-close="">
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button"><i class="fa fa-times"></i></a>
    <div class="modal-content">
        {{#if forms.contact.success}}
            <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
        {{else}}
            <div class="cont-home-text" style="margin-left:18px"><h2>Contact Sales</h2></div>
            <div id="custom-hsforms" class="home-family">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
            hbspt.forms.create({
                region: "na1",
                portalId: "8504278",
                formId: "164fb534-f849-4dff-9e59-e2d86a7e26f9"
            });
            </script>
            </div>
        {{/if}}
        <div class="loadingOverlay">&nbsp;</div>
    </div>
</div>

<style>.modal {
 
    max-width: 677px;
}
form#hsForm_47a17890-50b4-473e-98f9-18ac9b0ca5a5 label {
  
    display: block;
    margin-top: 5px!important;
}
form#hsForm_47a17890-50b4-473e-98f9-18ac9b0ca5a5 fieldset {
    max-width: 700px;
}
#custom-hsforms.home-family form.hs-form fieldset input, #custom-hsforms.home-family form.hs-form fieldset select, #custom-hsforms.home-family form.hs-form fieldset textarea {
    background-color: #f2f5f7;
    height: 40px;
    border: 1px solid #cbd6e2;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
</style>

<main id="cms-page" class="home-page">
   {{{page.content}}}
</main>
<script>
$(document).ready(function(){
    $("#Matt").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="mhohman@falltech.com"]').attr('selected', 'selected');
    });
    $("#Rick").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="rbewick@falltech.com"]').attr('selected', 'selected');
    });
    $("#Rob").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="rluckey@falltech.com"]').attr('selected', 'selected');
    });
    $("#Frank").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="fcarbajal@falltech.com"]').attr('selected', 'selected');
    });

    $("#Chris").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="csmith@falltech.com"]').attr('selected', 'selected');
    });

    $("#Mike").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="mtavis@falltech.com"]').attr('selected', 'selected');
    });

    $("#Jim").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="jciandella@falltech.com"]').attr('selected', 'selected');
    });

    $("#Tim").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="tchmielewski@falltech.com"]').attr('selected', 'selected');
    });

    $("#Kellen").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="kmills@falltech.com"]').attr('selected', 'selected');
    });


    $("#Rodney").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="rmckee@falltech.com"]').attr('selected', 'selected');
    });

    $("#Guy").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="grogers@falltech.com"]').attr('selected', 'selected');
    });

    $("#Adam").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="aneyhart@falltech.com"]').attr('selected', 'selected');
    });

    $("#Justin").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="jfox@falltech.com"]').attr('selected', 'selected');
    });
    $("#JustinT").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="jtate@falltech.com"]').attr('selected', 'selected');
    });

    $("#John").click(function(){
        $('select#contact_person-164fb534-f849-4dff-9e59-e2d86a7e26f9 option[value="jmoore@falltech.com"]').attr('selected', 'selected');
    });

});







(function(document, history, location) {
  var HISTORY_SUPPORT = !!(history && history.pushState);

  var anchorScrolls = {
    ANCHOR_REGEX: /^#[^ ]+$/,
    OFFSET_HEIGHT_PX: 150,

    /**
     * Establish events, and fix initial scroll position if a hash is provided.
     */
    init: function() {
      this.scrollToCurrent();
      window.addEventListener('hashchange', this.scrollToCurrent.bind(this));
      document.body.addEventListener('click', this.delegateAnchors.bind(this));
    },

    /**
     * Return the offset amount to deduct from the normal scroll position.
     * Modify as appropriate to allow for dynamic calculations
     */
    getFixedOffset: function() {
      return this.OFFSET_HEIGHT_PX;
    },

    /**
     * If the provided href is an anchor which resolves to an element on the
     * page, scroll to it.
     * @param  {String} href
     * @return {Boolean} - Was the href an anchor.
     */
    scrollIfAnchor: function(href, pushToHistory) {
      var match, rect, anchorOffset;

      if(!this.ANCHOR_REGEX.test(href)) {
        return false;
      }

      match = document.getElementById(href.slice(1));

      if(match) {
        rect = match.getBoundingClientRect();
        anchorOffset = window.pageYOffset + rect.top - this.getFixedOffset();
        window.scrollTo(window.pageXOffset, anchorOffset);

        // Add the state to history as-per normal anchor links
        if(HISTORY_SUPPORT && pushToHistory) {
          history.pushState({}, document.title, location.pathname + href);
        }
      }

      return !!match;
    },

    /**
     * Attempt to scroll to the current location's hash.
     */
    scrollToCurrent: function() {
      this.scrollIfAnchor(window.location.hash);
    },

    /**
     * If the click event's target was an anchor, fix the scroll position.
     */
    delegateAnchors: function(e) {
      var elem = e.target;

      if(
        elem.nodeName === 'A' &&
        this.scrollIfAnchor(elem.getAttribute('href'), true)
      ) {
        e.preventDefault();
      }
    }
  };

  window.addEventListener(
    'DOMContentLoaded', anchorScrolls.init.bind(anchorScrolls)
  );
})(window.document, window.history, window.location);



jQuery("a[href*='#']:not([href='#'])").click(function(e) {

	  var hash = this.hash;
	  var section = jQuery(hash);

	  	if(jQuery(hash).length > 0){
	  		e.preventDefault();
	  

			if (hash) { 
				jQuery('html, body').animate({
				  scrollTop: section.offset().top
				}, 1000, 'swing', function(){
				  history.replaceState({}, "", hash);
				});
			}
		}
});
	
jQuery("area[href*='#']").click(function(e) {

	  var hash = this.hash;
	  var section = jQuery(hash);

	  	if(jQuery(hash).length > 0){
	  		e.preventDefault();
	  

			if (hash) { 
				jQuery('html, body').animate({
				  scrollTop: section.offset().top
				}, 1000, 'swing', function(){
				  history.replaceState({}, "", hash);
				});
			}
		}
});

</script>
<script>
   // Open Graph Protocol
   var urlMeta = document.createElement('meta');
   urlMeta.setAttribute('property', 'og:url');
   urlMeta.content = window.location.origin + window.location.pathname;
   document.getElementsByTagName('head')[0].appendChild(urlMeta);
   
   var typeMeta = document.createElement('meta');
   typeMeta.setAttribute('property', 'og:type');
   typeMeta.content = 'website';
   document.getElementsByTagName('head')[0].appendChild(typeMeta);
   
   var titleMeta = document.createElement('meta');
   titleMeta.setAttribute('property', 'og:title');
   titleMeta.content = document.title;
   document.getElementsByTagName('head')[0].appendChild(titleMeta);
   
   var meta = document.getElementsByTagName('meta');
   var description = '';
   for(i in meta){
       if(typeof meta[i].name != "undefined" && meta[i].name.toLowerCase() == "description") {
           description = meta[i].content;
       }
   }
   var descriptionMeta = document.createElement('meta');
   descriptionMeta.setAttribute('property', 'og:description');
   descriptionMeta.content = description;
   document.getElementsByTagName('head')[0].appendChild(descriptionMeta);
   
   
   var imageMeta = document.createElement('meta');
   imageMeta.setAttribute('property', 'og:image');
   imageMeta.content = 'https://cdn11.bigcommerce.com/s-1wxw1202sk/product_images/uploaded_images/screengrab-01-q.100.jpg';
   document.getElementsByTagName('head')[0].appendChild(imageMeta);
</script>
{{/partial}}
{{> layout/base}}
